* {
    box-sizing: border-box;
}

:root {
    overflow-y: scroll;
    color-scheme: dark;
}

body {
    font-family: sans-serif;
    background-color: #1e007d;
    color: white;
    margin: 0;
}

.list {
    view-transition-name: bahnhoefe;
    background: linear-gradient(#2938b9 50%, transparent 50%);
    background-size: 100% 6rem;
    background-repeat: repeat-y;
}

.operator {
    height: 2rem;
}

.operator + .operator {
    margin-left: 0.25rem;
}

#operators {
    width: 100%;
    background: white;
    margin-bottom: 16px;
    padding-top: 0.25rem;
    text-align: center;
}

#search {
    margin-bottom: 1rem;
    width: 100%;
    color: white;

    &::placeholder {
        color: darkgray;
    }
}

#bahnhoefe {
    border: none;
    width: 100%;
    border-collapse: collapse;
}

#bahnhoefe tr {
    content-visibility: auto;
    height: 3rem;
}

#bahnhoefe tr[data-hidden=true] {
    display: none;
}

#bahnhoefe tr:nth-child(n + 50 of :not([data-hidden=true])) {
    view-transition-name: none !important;
}

#bahnhoefe td {
    padding-inline: 0.5rem;
}

.station-name {
    width: 100%;
}

a {
    color: white;
}

.centered {
    margin: 0 auto;
    max-width: 40rem;
}

input {
    font-family: inherit;
    font-size: 100%;
    background: #2938b9;
    color: white;
    box-sizing: border-box;
    border: none;
    border-block-end: 2px solid white;
    border-radius: 0;
    padding: 0.5rem;
    transition: 500ms;
}

.info {
    view-transition-name: info-banner;
    background: white;
    color: black;
    padding: 0.75rem 0.5rem;
    margin-block-end: 1rem;

    a {
        color: #1e007d;
        font-weight: 600;
    }

    h3,
    p {
        margin: 0;
    }

    h3 {
        margin-block-end: 0.5rem;
    }
}

h2 {
    color: #2800ff;
}

@media (max-width: 40rem) {
    .footer,
    .search {
        padding-inline: 1rem;
    }
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}
