* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1e007d;
    color: white;
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

.operator {
    height: 32px;
}

.operator + .operator {
    margin-left: 4px;
}

#operators {
    width: 100%;
    background: white;
    margin-bottom: 16px;
    padding-top: 4px;
    text-align: center;
}

#search {
    margin-bottom: 1rem;
    width: 100%;
}

table {
    border: none;
    width: 100%;
    border-collapse: collapse;
}

table tr {
    content-visibility: auto;
}

table tr:nth-child(odd) {
    background: #2938b9;
}

table td,
table th {
    padding: 0.5rem;
}

a {
    color: white;
}

.wrapper {
    margin: 0 auto;
    max-width: 40rem;
}

input {
    font-family: inherit;
    font-size: 100%;
    background: #2938b9;
    color: white;
    box-sizing: border-box;
    border: none;
    border-block-end: 2px solid white;
    border-radius: 0;
    padding: 0.5rem;
    transition: 500ms;
}

.search:has(#search:not(:placeholder-shown)) + .info {
    display: none;
}

.info {
    background: white;
    color: black;
    padding: 0.5rem;
    margin-block-end: 1rem;

    a {
        color: #1e007d;
        font-weight: 600;
    }

    h3,
    p {
        margin: 0;
    }

    h3 {
        margin-block-end: 0.5rem;
    }
}

h2 {
    color: #2800ff;
}

@media (max-width: 40rem) {
    .footer,
    .search {
        padding-inline: 1rem;
    }
}
